
.submit_class {
  border-style: none;
  border-radius: 5px;
  background-color: #FFE6D4;
  padding: 8px 20px;
  font-family: 'system-ui';
  text-transform: uppercase;
  letter-spacing: .8px;
  display: block;
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
  cursor: pointer;
}
