<!-- Muestro un atributo de mi objeto -->
<header>
    <h1 class="text-center">{{title}}</h1>
</header>
<nav>
  <app-navbar></app-navbar>
</nav>
<main>
<div class="container" id="mihistoria">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-xs-12 pt-5">
        <img src="https://github.com/macarenaferrero/Portfolio/blob/master/Images/macarena.png?raw=true" width="250px" height="auto" />
      </div>
      <div class="col-xl-8 col-lg-8 col-xs-12 p-5">
        <h2 class="text-black">Profesora de Matemática && Programadora</h2>
        <p class="pl-2">
          Realicé el bachillerato con orientación en Comunicación, Arte y
          Diseño en el
          <a href="http://colegioeccleston.org.ar/" target="_blank">Instituto Sara Chamberlein de Eccleston.</a>
          En el mismo, descubrí mi pasión y facilidad para el área de
          matemática, lo que años más adelante me invitó a estudiar el
          profesorado.
          Deconstruyendo ideas como
          <i>"La matemática no es para mi" o "¿Y esto para que me sirve?"</i> que comunmente escuchamos en grandes y
          chicos.
          <br />
          Durante la trayectoria en el profesorado, reconocí otra de mis pasiones: la Tecnología.
          Comencé a investigar, probar y aprender cómo autodidácta.
          Fue así que comenzé a gamificar mis clases, promediar la
          tecnología y las diferentes plataformas de enseñanza.
          <br />
          Una vez finalizada la carrera, no dude en comenzar la tecnicatura en
          programación en la
          <a href="https://www.fra.utn.edu.ar/" target="_blank">UTN FRA Avellaneda</a>.
          Día a día crecen las ganas de seguir aprendiendo esta rama tan apasionante.
          <br />
          Al día de hoy, me encuentro cursando el último año de la carrera formandome como desarrolladora de software.
          Considero importante integrar estos conocimientos dentro del aula.
          Iniciar a los chicos en la programación es un aprendizaje continuo. Me especialicé en ésta área, cursando "La
          programación
          y su didáctica" dictada por la facultad de <a href="http://www.unahur.edu.ar/" target="_blank">UNAHUR</a>, en
          el marco de <a href="http://program.ar/" target="_blank">PROGRAM.AR</a>
        </p>
      </div>
    </div>
  </div>
  <section id="habilidades" class="container">
    <h2 class="text-center">Habilidades</h2>
    <div class="row bg-light mt-5">
      <div class="col-xl-2.5 col-lg-2 col-xs-12 p-5">
        <div class="d-flex justify-content-center icono">
          <h2><i style="color: rgb(0, 0, 0)" class="fab fa-html5 icon"></i></h2>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-xs-12 p-5">
        <div class=" d-flex justify-content-center icono">
            <h2><i style="color: rgb(0, 0, 0)" class="fab fa-python fa-2x"></i></h2>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-xs-12 p-5">
        <div class=" d-flex justify-content-center icono">
          <h2><i style="color: rgb(0, 0, 0)" class="fab fa-php fa-2x"></i></h2>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-xs-12 p-5 ">
        <div class=" icono d-flex justify-content-center">
          <h2><i style="color: rgb(0, 0, 0)" class="fab fa-js icon"></i></h2>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-xs-12 p-5 ">
        <div class=" icono d-flex justify-content-center">
          <h2><i style="color: rgb(0, 0, 0)" class="fab fa-cuttlefish fa-2x"></i></h2>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-xs-12 p-5 ">
        <div class=" icono d-flex justify-content-center">
          <h2><i style="color: rgb(0, 0, 0)" class="fab fa-css3-alt fa-2x"></i></h2>
        </div>
      </div>
    </div>
  </section>
  <section id="frases" class="frase container-fluid mt-5 mb-5">

    <div class="row">
      <div class="col-12 p-5">
        <h3 class="text-center frase-texto">"La felicidad consiste en poder unir el principio con el fin" - Pitágoras
        </h3>
      </div>
    </div>
  </section>

    <div class="info_div">
    <a routerLink="">¡Volver al inicio!</a>
    </div>
    <br>
</main>

  <app-footer></app-footer>