<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="nav-link disabled">Tu Sala de juegos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/juegos">Home</a>
          <a class="nav-link active" routerLink="/chat">Chat Online</a>
          <a class="nav-link active" routerLink="/quien-soy">Conoceme</a>
        </div>
      </div>
      <a class="nav-link disabled">{{usuario?.email}}</a>
      <div class="text-end">
        <button type="button" class="btn btn-outline-primary me-2" (click)="logOut()">LogOut</button>
      </div>
    </div>
  </nav>
