<!-- <div class="card mb-4 box-shadow">
  <div class="card-header">
    <img id="imgEmp" src="../../../../assets/mayor-menor/presentación.png" *ngIf="!empezado">
  </div>
  <button type="button" class="btn btn-lg btn-block btn-primary" id="empezar" [hidden]="empezado"
    (click)='empezar()'>Empezar</button>
  <div class="col-12" *ngIf="resultado">
    <h3 class="text-center">{{mensaje}}</h3>
  </div>
  <div class="col-12" *ngIf="resultado">
    <h3 class="text-center">Puntos: {{puntosAux}}</h3>
    <br>
    <label>Mejores Puntajes</label>
    <div *ngFor="let puntaje of listaOrdenada">
      <div class="row">
        <div class="col-4">
          <h3>{{puntaje.usuario}}</h3>
        </div>
        <div class="col-4">
          <h3>{{puntaje.puntos}}</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="card-body col-sm-6 align-self-center" *ngIf="empezado">
      <br>
      <div class="col-12 text-center">
        <h3>Puntos:</h3>
        <h3>{{puntos}}</h3>
      </div>
      <br>
      <img id="carta" [src]="carta.src">
      <button type="button" class="btn btn-lg btn-block alert-danger" (click)='cartaMayor()'>Mayor</button>
      <button type="button" class="btn btn-lg btn-block alert-success" (click)='cartaMenor()'>Menor</button>
    </div>
  </div> -->


  <div class="cardbox-shadow">
    <div class="card-header" *ngIf="!empezado">
      <img id="imgEmp" src="../../../../assets/mayor-menor/presentación.png" width="60%" class="img-centered">
    </div>
    <button  type="button" class="submit_class" id="empezar" [hidden]="empezado"
      (click)='empezar()'>Empezar</button>
    <div class="col-12" *ngIf="resultado" >
      <h4 class="mt-1 text-center">{{mensaje}}</h4>
    </div>
    <div class="col-12" *ngIf="resultado">
      <h4 class="text-center">Puntos: {{puntosAux}}</h4>
      <br>
      <h6>Mejores Puntajes</h6>
      <div *ngFor="let puntaje of listaOrdenada">
        <div class="row">
          <div class="col-6">
            <label>{{puntaje.usuario}}</label>
          </div>
          <div class="col-6">
            <label>{{puntaje.puntos}}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="container">
      <div class="card-body text-center" *ngIf="empezado">
        <br>
        <div class="col-12 text-center">
          <div class="row">
          <h6>Puntos:</h6>
          <h6>{{puntos}}</h6>
        </div>
        </div>
        <br>
        <img width="20%" id="carta" [src]="carta.src" class="img-centered smaller-image">
        <button type="button" class="submit_class" (click)='cartaMayor()'>Mayor</button>
        <button type="button" class="submit_class" (click)='cartaMenor()'>Menor</button>
      </div>
    </div>
  </div>
