  <div class="cardbox-shadow">
    <div class="card-header" *ngIf="!empezado">
      <img id="imgEmp" src="../../../../assets/mayor-menor/presentación.png" width="60%" class="img-centered">
    </div>
    <button  type="button" class="submit_class" id="empezar" [hidden]="empezado"
      (click)='empezar()'>Empezar</button>
    <div class="col-12" *ngIf="resultado" >
      <h4 class="mt-1 text-center">{{mensaje}}</h4>
    </div>
    <div class="col-12" *ngIf="resultado">
      <h4 class="text-center">Puntos: {{puntosAux}}</h4>
      <br>
      <h6>Mejores Puntajes</h6>
      <div *ngFor="let puntaje of listaOrdenada">
        <div class="row">
          <div class="col-6">
            <label>{{puntaje.usuario}}</label>
          </div>
          <div class="col-6">
            <label>{{puntaje.puntos}}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="card-body text-center" *ngIf="empezado">
        <br>
        <div class="col-12 text-center">
          <div class="row">
          <h6>Puntos:</h6>
          <h6>{{puntos}}</h6>
        </div>
        </div>
        <br>
        <img width="20%" id="carta" [src]="carta.src" class="img-centered smaller-image">
        <button type="button" class="submit_class" (click)='cartaMayor()'>Mayor</button>
        <button type="button" class="submit_class" (click)='cartaMenor()'>Menor</button>
      </div>
    </div>
  </div>
